@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit&family=Lobster&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(0, 0, 0);
    background: url(../assets/movie.png) center/cover no-repeat;

}


.movie-title {
    position: relative;
    font-size: 36px;
    text-align: center;
    color: #f394d2; 
    animation: flash 10s infinite alternate; /* Flashing animation */
}
    
@keyframes flash {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}



.movie-title::before,
.movie-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00a6ff; 
    bottom: 0;
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
}

/* Animation on hover */
.movie-title:hover::before,
.movie-title:hover::after {
    transform: scaleX(4); 
}

.container {
    text-align: center;
    position: relative;
   
}

input[type='text'] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    font-size: 10px;
}

/* Style the main button */
#btn {
    padding: 10px 20px;
    background-color: #00a6ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error.err {
    display: inline-block;
    background-color: #fb0808;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 10px 0;
    top:0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    left: 20%;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}



.image-box img {
    display: block;
    max-width: 100%;
    height: 50%;
    margin: 0 ;
}

h6 {
    font-family: 'kanit', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    color: #7dec0f;
    position: absolute;
    top: 0; /* Position the h6 element at the bottom of the container */
    left: 30%;
    margin: auto;
    /*transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
    /*padding: 5px 10px; /* Add padding for better visibility */
}



.image-box {
    width: 224px;
    height: 430px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: Light Turquoise;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-box h5 {
    font-size: 10px;
    color: #f49280;
    font-weight: bolder;
    margin: 0;
    bottom: 8px;
     margin-bottom: 0.5vh;
}

.image-box p {
    font-size: 12px;
    color: whitesmoke;
    margin-top: 5px;
    max-height: 25%;
    overflow-y: auto; /* Add scroll if the description overflows */
    bottom: 5px;
    left: 5px;
    right: 5px;
}
.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container button {
    width: 45%;
}

.btn-container .deleteBtn,
.btn-container .editBtn {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; 
    color: #3eacf1; 
    transition: background-color 0.2s ease-in-out;
} 

.deleteBtn:hover
{
    background-color: firebrick; 
}
.editBtn:hover {
    background-color: burlywood; 
}

.selected-btn:hover {
    background-color: #05a3f8;
}
.animation {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.animation:before,
.animation:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}
.animation:before {
    animation: square 1 1s infinite;
    background-color: #cb9520;
    box-shadow: 30px 0 0 #f834db;
    margin-bottom: 10px;
}
.animation:after {
    animation: square 2 1s infinite;
    background-color: #8500a0;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform:rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes stars1 {
    0% {
        box-shadow: 30px 0 0 #b4f834;
    }
    50% {
        box-shadow: 0 0 0 #b4f834;;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #b4f834;
        margin-bottom: 10px;
    }
}

@keyframes stars2 {
    0% {
        box-shadow: 30px 0 0 #e0f498;
    }
    50% {
        box-shadow: 0 0 0 #e0f498;;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #e0f498;;
        margin-top: 0;
    }
}